<div class="row">
  <div class="small-12 columns">
    <h1><%= t('edit', model: Segment.model_name.human) %></h1>

    <%= render "form" %>

    <br />
    <div class="links">
      <%= link_to t('back'), contacts_path %>
      <span>|</span>
      <%= link_to t('list', model: Segment.model_name.human(count: 2)), segments_path %>
    </div>

  </div>
</div>
